.arrivals{
    padding-top: 100px;
}

.arrivals__title{
    margin-bottom: 0;
}

.desktop-swiper swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.desktop-swiper swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.desktop-swiper swiper-slide img {
    display: block;
    width: 100%;
}